<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lotusbin.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground_table"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground_table"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".DatePickerActivity" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".ScrollVerticalActivity" />
        <activity android:name=".ImageSwitcherActivity" />
        <activity android:name=".ViewStubActivity" />
        <activity android:name=".TabLayoutActivity" />
        <activity android:name=".task.TabWithFrameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchViewActivity" />
        <activity android:name=".EditTextWatcherActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".task.AddTemplateTaskActivity" />
        <activity android:name=".SelectTemplateActivity" />
        <activity android:name=".task.SelectDailyTaskFromTemplateActivity" />
        <activity android:name=".task.AddTaskToDailyTaskViewActivity" />

        <service android:name=".jobs.DailyAppJobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true">

        </service>

        <receiver
            android:name=".alarm.MyNotificatinReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver android:name=".alarm.AlarmBroadCastReveiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>